<footer class="page-footer teal darken-4">
  <div class="footer-copyright">
    <div class="container center">
      &copy; Milad Ezzat Fahmy  &reg; All Rights Reserved  2017-2018
    </div>
  </div>
</footer>
