<div class="row" id="main">
  <div class="col s12 m7 offset-m2 center">
    <img id="logo" class="responsive-img z-depth-5  circle" src="/images/logo.png" alt="Logo">
    {{# if login}}
      <h1>وبخني</h1>
    {{else}}
      <h1>وبخني</h1>
      <a class="btn teal darken-3"  type="button" name="button" href="/users/register"> Register </a>
      <a class="btn teal darken-3"  type="button" name="button" href="/users/login"> Login </a>
    {{/if}}
  </div>
</div>
