<div class="row">
  <h3 class="center"> Wpa5</h3>
  <div class="col s12 m8 offset-m2 center">
    <img id="userImage" class="responsive-img z-depth-5  circle" src="/images/user.jpg" alt="User">
    <h2>{{username}}</h2>
  </div>
  <form class="col s12 card" action="/message/{{id}}" method="post">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="icon_prefix2" class="materialize-textarea" required name="msg"></textarea>
        <label for="icon_prefix2">Message</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light purple darken-3 right" type="submit" name="action">Send
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
